@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
/* importing fronts from goole */

@import "tailwindcss";

@layer base {
  body {
    @apply bg-Grey950;
  }
}

@theme {
  --font-overpass: Overpass;
  --color-Orange: hsl(25, 97%, 53%);
  --color-White: hsl(0, 100%, 100%);
  --color-Grey500: hsl(217, 12%, 63%);
  --color-Grey900: hsl(213, 19%, 18%);
  --color-Grey950: hsl(216, 12%, 8%);
}
